<div class="card mb-4">
    <img class="card-img-top" [src]="book.Image || '/assets/img/default-image.svg'" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{book.Title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{book.Author}}</h6>
      <h7 class="lead">{{book.Category}}</h7>
      <p class="card-text">{{book.Description}}</p>
    </div>
  </div>
<div class="card mb-4" style="height: 18rem;" (click)="detailsRequest.emit(book)">
  <img class="card-img-top" [src]="book.Image || '/assets/img/default-image.svg'" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{book.Title}}</h5>
  </div>
</div>
