<!-- The login/Register page

    Should contain a centralized div, with 2 tabs (Login/Register)
    Each tab will change the below child div's content into respective forms

    Login form - fields -> email,password
    Register form - fields -> email , password and ConfirmPassword

-->
<main class="container row align-items-center m-auto">
    <div class="container row-cols-2 g-2">
        <button type="submit" class="btn btn-primary col" [ngClass]="{'active': isLogin}" (click)="isLogin = true">Login</button>
        <button type="submit" class="btn btn-primary col" [ngClass]="{'active': !isLogin}" (click)="isLogin = false">Register</button>
    </div>
    <div *ngIf="isLogin; else elseblock">
        <form (ngSubmit)="onLogin()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="username" [(ngModel)]="userCred.username" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" [(ngModel)]="userCred.password" class="form-control"
                    id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



    <ng-template #elseblock>
        <form (ngSubmit)="onRegister()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" [(ngModel)]="userCred.username" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" [(ngModel)]="userCred.password" name="password" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" [(ngModel)]="userCred.confirmPassword" name="confirmPassword" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </ng-template>
</main>