<!-- Side Navigation bar component

    Should contain a header since this is a header, 
    
    the component should not be rendered until the user is logged in (After Auth service is done)

    in Desktop -> should be a side menu with decent width but full height, should be possible to minimize to simple icons
    in mobile -> full width, full height , should be possible to minimize to a single ham burger icon at top left

-->
<!--Main Navigation-->
<header *ngIf="auth.user">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[auth.user.role?.toLowerCase()]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[auth.user.role?.toLowerCase(),'Books']" routerLinkActive="active">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLink]="[auth.user.role?.toLowerCase(),'WishList']" routerLinkActive="active">Wishlist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLink]="[auth.user.role?.toLowerCase(),'Orders']" routerLinkActive="active" tabindex="-1" aria-disabled="true">Orders</a>
    </li>
  </ul>
</header>