.fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-gray {
    background-color:  rgba(156, 163, 175,0.5);
}

.dialog {
    background-color: #fff;
    border-radius: 0.25rem;
}