<div class="card" (click)="$event.stopPropagation()">
    <div class="row g-0">
        <div class="col-md-4 d-flex">
            <img [src]="book.Image || '/assets/img/default-image.svg'" alt="Card image cap"
                class="img-fluid rounded-start m-auto" alt="...">
        </div>
        <div class="col-md-8 container">
            <div class="card-body">
                <h5 class="card-title">{{book.Title}}</h5>
                <p class="card-text">{{book.Description}}</p>
            </div>
            <div class="btn-group col-12 col-md-0">
                <button *ngIf="options.wishList" class="btn btn-primary" (click)="wishList.toggleBook(book)">
                    <span>{{(isInWishList)?"Remove from ":"Add to "}}</span>WishList
                </button>
                <button *ngIf="options.order" class="btn btn-success" (click)="orderService.AddBook({Book:book,quantity:1})">
                    Buy Now
                </button>
            </div>
        </div>
    </div>
</div>